.tabs {
  padding: 0 30px;

  &-header {
    display: flex;
    flex-direction: row;
    gap: 30px;

    button {
      font-weight: 500;
      font-size: 15px;
    }
  }

  &-children {
    &-detail {
      margin-top: 50px;
    }
  }
}
