.main {
  width: 100vw;
  height: 100vh;

  &-wrapper {
    display: flex;
    flex-direction: row;

    &-sidebar {
      width: auto;
      height: 100%;
    }

    &-detail {
      width: calc(100% - 60px);
      margin: 40px 30px;

      &-children {
        margin-top: 20px;
        height: calc(100% - 60px);
      }
    }
  }
}
