.header {
  padding: 20px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &-without-border {
    padding: 20px 30px;
    border: none;
  }

  &-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &-title {
      p {
        font-weight: 500;
        font-size: 22px;
        color: #222222;
      }
    }

    &-actions {
      &-buttons {
        display: flex;
        gap: 12px;
      }
    }
  }
}
