* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

img {
  height: auto;
}