* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

img {
  height: auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.gap-40 {
  gap: 40px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}
