.accordion {
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 10px;

  &-header {
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    p {
      font-weight: 500;
      font-size: 14px;
    }
  }

  &-detail {
    padding: 0 0 15px 15px;
  }
}
